@charset "utf-8";
.fl{float:left;}
.fr{float:right;}
.container-fluid{
	padding:0;
	margin:0;
	color: #333;
	font-family:微软雅黑;
}
.bgbox{
	height: 455px;
	background-position:center;
	background-size:cover;
	position:relative;
	}
.pos{
	position:absolute;
	bottom:10px;
	right:50%;
	}
ul.pos li{
	list-style:none;
	float:left;
	margin:10px;
	background-color:#009ea1;
	width:18px;
	height:18px;
	border-radius:9px;
	border:2px solid #009ea1;
	}
ul.pos li.on{
	background-color:transparent;
	border:2px solid #009ea1;
	width:30px;
	}
.box{
	width:1200px;
	margin:auto;
	background-color:#fff;
	border-radius:5px;
	box-shadow: 0px 0px 5px #b1d7fe;
	overflow:hidden;
	min-width: 1170px;
}
.loginbanner{
	width:600px;
	border-radius:5px;
	margin:54px;
}
.carousel-inner .item img {
	width: 600px;
	height: 360px;
}
.mainbox{
	width:1200px;
	margin:auto;}
.logintitle{
	width:1200px;
	margin:auto;
	padding-left:80px;
	/*background:url("../../images/login/logo.png") left center no-repeat;*/
	margin-bottom:0px;
	text-align:left;
	line-height:85px;
	font-size:32px;
	color:#333;
	}
.logintitle .tel{font-size:18px}
.loginbox{
    width:400px;
    height: 330px;
	margin:60px 45px;
	float:right;
    background:rgba(255,255,255,0.8);
    overflow: hidden;
	border-radius:5px;}

.loginbox h4{
    font-size: 18px;
    line-height: 50px;
	text-align:center;
	border-bottom: 1px solid #DDD;
	}
.login_from{
	width:300px;
	margin:auto;
	}
.login_from .input-group{
	height:42px;
	margin:20px 0;
	}
.login_from .input-group .form-control{
	height:42px;
	}
#validateCode{float:right; margin:3px}
#loginbtn{width:200px;}
.copyright{
	text-align:center;
	line-height:80px;}
